  
<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Восстановление пароля</title>
</head>
<body class="text-center bg-light" style="height: 100%;display: -webkit-flex;display: -ms-flex;display: flex; -ms-align-items: center;align-items: center;justify-content: center; -webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <center>
      <h1 class="display-4">Уважаемый {{name}},вы  регистрируетесь на CIP!</h1>
      <h5>Введите полученный код в нужное поле,чтобы продолжить!</h5>
      <p class="lead">Ваш код верификации - <span style="color:gold">{{code}}</span></p>
    </center>
  </div>
</div>
</body>
</html>