{% extends 'base.html'%}
  {%block title%}Моя страница{%endblock%}

{%block content%}



<div class="row mt-5">
  <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12" style="display: flex;-ms-align-items: center;  align-items: center; justify-content: center; -webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;">
    <center><img src="{{user.avatar.url}}" class='img-fluid' style='height: 200px;width: 300px;' alt="картинка юзера"></center></div>
  <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <ul class="list-group">
      <li class="list-group-item">Тут будет какой-нибудь списочек с навыкамии и проектами</li>
    </ul>
  </div>
</div>

  {%endblock%}
